@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
section {
  margin: 20px 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* this is header section start */
.contact {
  display: none;
}
/* this is header section end */
/* This is nav section start */
nav {
  background-color: red;
}
.headerLogo {
  max-width: 10%;
}

.headerLogo img {
  max-width: 100%;
}
#menu {
  display: block;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList ul {
  display: none;
}
/* This is nav section end */
/* This is slider section start */
#slider {
  background-image: url(../images/slider1.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
  margin-top: 0;
}
/* .sliderImg {
  width: 100%;
}
.sliderImg img {
  width: 100%;
} */
/* This is slider section end */
/* This is আমাদের সম্পর্কে / আমাদের উদ্দেশ্য section start */
.purposeWrap {
  display: flex;
  flex-flow: column wrap;
}

.singlePurpose {
  padding-bottom: 25px;
  width: 100%;
}

.singlePurpose h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.singlePurpose p {
  padding-top: 15px;
  text-align: justify;
}
.singlePurpose a {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-top: 3px;
  padding: 10px 10px;
  transition-duration: 0.3s;
}
.singlePurpose a:hover {
  background-color: #e6e6e6;
}
/* This is আমাদের সম্পর্কে / আমাদের উদ্দেশ্য section end */
/* this is সদস্যের তালিকা section start */
#members {
  background-color: #e9ecef;
  padding: 50px 0px;
}
#members h1 {
  text-align: center;
  padding-bottom: 30px;
}
/* this is সদস্যের তালিকা section end */
/* this isফটো গ্যালারি section start*/
section#photo {
  padding: 50px 0px;
}
#photo h1 {
  text-align: center;
  padding-bottom: 30px;
}
.photoWrap {
  display: flex;
  flex-flow: column wrap;
}
.singlePhoto {
  width: 100%;
  margin-bottom: 30px;
  outline-offset: 5px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #e9ecef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.singlePhoto img {
  width: 100%;
  border-radius: 8px;
}
/* this isফটো গ্যালারি section end*/
/* this is অনুসন্ধান section start  */
#findUs {
  background-color: #0374ae;
  padding: 50px 0px;
  margin-bottom: 0px;
}
.findUsWrap {
  display: flex;
  flex-flow: column wrap;
}
.singleFind {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
}

.singleFind iframe {
  width: 100%;
}

.singleFind h3 {
  padding-bottom: 15px;
  color: white;
}
.singleFind span {
  color: white;
  padding-bottom: 20px;
}

.singleFind i {
  padding-right: 8px;
}
.social {
  display: flex;
  gap: 30px;
}
.social a {
  background-color: #717171;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transition-duration: 0.2s;
}
.social a:hover {
  background-color: #dc4e41;
  color: white;
}
/* this is অনুসন্ধান section end */
footer {
  background-color: #008732;
  padding: 30px 0px;
  border-top: 1px solid black;
}
.footWrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.singleFoot span {
  display: block;
  color: white;
  padding-bottom: 10px;
}
.singleFoot a {
  color: rgb(115, 245, 72);
  font-weight: bold;
  padding-left: 10px;
}
.singleFoot a:hover {
  color: rgb(95, 200, 20);
}
