@media only screen and (min-width:768px) {
    .container{
        width: 80%;
    }
    p{
        font-size: 15px;
    }
    .photoWrap{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .singlePhoto{
        width: 47%;
        margin-bottom: 30px;
    }

}